@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>

    <title>Admin Page</title>
</head>
<style>
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
</style>
<body>
    <h1>Admin Page</h1>
    <fieldset>
        <form method="post" action="Home/addbook">
            <input type="submit" value="Add book"><br><br>
            </form>
        <form method="post" action="Home/show">
                <input type="submit" value="Show Books"><br><br>
        </form>
            <form method="post" action="Home/viewbook">
                <input type="submit" value="Update Book"><br><br>
            </form>
        
    </fieldset>
</body>
</html>
